body{
    font-family: 'Crimson Text', serif;
    background-image: url(../assets/home1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
.table-user{
    width: 100%;
}


td{
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
    
}
#welcomepage{
    text-align: center;
    
}
#userwelcome{
    background-color: #fff9ab;
}
#cwelcome{
    background-color: #ffe0fd;
}
#swelcome{
    background-color: #e0fffc;
}
#footer{
    background-color: black;
    color: white;
    flex: 1;
}
